:root {
    --white: #ffffff;
    --snow-white: #f5f5f5;
    --black: #000000;
    --charcoal-black: #282b2d;
    --grey: #aaaaaa;
    --dark-grey: #625d5d;
    --red: #df3131;
    --light-blue: #b6c1f0;
    --light-green: #729991;
}
